/* page-wide rules */
:root {
    --primary-color: whitesmoke;
    --secondary-color: #22273d;
    --tertiary-color: coral;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0;
}





/* General formatting rules for repeated use */
.flex-row {
    display: flex;
}





/* major html element rules */
body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 14px;
    line-height: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    background-image: url("../assets/images/headerbg.jpg");
    background-repeat: repeat;
}

header h1 {
    font-size: 44px;
    color: var(--primary-color);
    display: inline-block;
    padding: 20px auto 20px 50px;
    margin: 20px auto 20px 150px;
    text-shadow: 0 0 1px var(--secondary-color);
}

header nav {
    padding-top: 15px;
    margin-right: 150px;
    float: right;
    font-size: 24px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

header nav ul li a {
    text-decoration: underline;
    color: var(--primary-color);
    text-shadow: 0 0 10px var(black);
}





/* section ID rules */
#hero {
    height: 400px;
    width: 100%;
    margin-bottom: 35px;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.1)
      ), url("../assets/images/hero-image.jpg");
    background-size: cover;
    background-position: center;
}

#aboutme {
    width: 100%;
    height: 400px;
    margin: 10px 10px 10px 10px;
}

#work {
    width: 100%;
    height: 500px;
    margin: 10px 10px 10px 10px;
}

#contactme {
    width: 100%;
    height: 100px;
    margin: 10px 10px 10px 10px;
}





/* Class rules for targeted styling */
.hero-text {
    float: right;
    padding: 350px 150px 50px 0px;
    color: var(--primary-color);
    font-style: normal;
    font-weight: bold;
    text-shadow: 0 0 10px var(black);
}

.aboutme-heading {
    font-size: 24px;
    line-height: 1;
    color: var(--secondary-color);
    border-right: 4px solid;
    border-color: var(--secondary-color);
    padding: 20px 20px 230px 10px;
    margin: 20px 10px 30px 10px;
    flex-wrap: wrap;
    width: 15%;
    float: left;
    justify-content: flex-end;
    text-align: right;
}

.aboutme-text {
    width: 75%;
    margin: 10px 150px 10px 10px;
    padding: 10px 10px 10px 10px;
    float: right;
    justify-content: flex-start;
    flex-direction: column;
}

.work-heading {
    font-size: 24px;
    line-height: 1;
    color: var(--secondary-color);
    border-right: 4px solid;
    border-color: var(--secondary-color);
    padding: 20px 20px 360px 10px;
    margin: 20px 10px 30px 10px;
    flex-wrap: wrap;
    width: 15%;
    float: left;
    justify-content: flex-end;
    text-align: right;
}

.contactme-heading {
    font-size: 24px;
    line-height: 1;
    color: var(--secondary-color);
    border-right: 4px solid;
    border-color: var(--secondary-color);
    padding: 20px 20px 30px 10px;
    margin: 20px 10px 30px 10px;
    flex-wrap: wrap;
    width: 15%;
    float: left;
    justify-content: flex-end;
    text-align: right;
}

.contactme-text ul {
    list-style: none;
    font-size: 24px;
    width: 75%;
    margin: 30px 150px 30px 10px;
    padding: 30px 10px 30px 10px;
    float: right;
    display: inline-flex;
    justify-content: space-evenly;
    justify-items: center;
    text-decoration: underline;
    color: var(--secondary-color);
    text-shadow: 0 0 10px var(black);
}





/* Grid Container Styling */
.grid-container {
    display: grid;
    font-size: 24px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px 10px;
    height: 420px;
    width: 75%;
    margin: 10px 150px 10px 10px;
    padding: 20px 10px 10px 10px;
    float: right;
    justify-content: flex-start;
    flex-direction: column;
}

.grid-item-one {
    grid-column: 1/3;
    grid-row: 1/3;
    color: var(--secondary-color); 
    border: var(--secondary-color);
    border-width: thick;
    border-radius: 10px;
    border-style: solid;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 24px;
}

.img-1 {
    background-image: url("../assets/images/barkeep.png");
    background-size: cover;
}

.img-1:hover {
    transition: 0.2s ease;
    opacity: 0.8;
}

.grid-item-two {
    grid-column: 1/2;
    grid-row: 3/4;
    color: var(--secondary-color); 
    border: var(--secondary-color);
    border-width: thick;
    border-radius: 10px;
    border-style: solid;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 24px;
}

.img-2 {
    background-image: url("../assets/images/runbuddy.png");
    background-size: cover;
}

.img-2:hover {
    transition: 0.2s ease;
    opacity: 0.8;
}

.grid-item-three {
    grid-column: 2/3;
    grid-row: 3/4;
    color: var(--secondary-color); 
    border: var(--secondary-color);
    border-width: thick;
    border-radius: 10px;
    border-style: solid;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 24px;
}

.img-3 {
    background-image: url("../assets/images/runbuddy.png");
    background-size: cover;
}

.img-3:hover {
    transition: 0.2s ease;
    opacity: 0.8;
}

.grid-item-four {
    grid-column: 3/4;
    grid-row: -4/-3;
    color: var(--secondary-color);
    border: var(--secondary-color);
    border-width: thick;
    border-radius: 10px;
    border-style: solid;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 24px;
}

.img-4 {
    background-image: url("../assets/images/runbuddy.png");
    background-size: cover;
}

.img-4:hover {
    transition: 0.2s ease;
    opacity: 0.8;
}

.grid-item-five {
    grid-column: 3/4;
    grid-row: -3/-2;
    color: var(--secondary-color); 
    border: var(--secondary-color);
    border-width: thick;
    border-radius: 10px;
    border-style: solid;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
}

.img-5 {
    background-image: url("../assets/images/runbuddy.png");
    background-size: cover;
}

.img-5:hover {
    transition: 0.2s ease;
    opacity: 0.8;
}

.grid-container p {
    background-color: var(--tertiary-color);
}

.grid-container span {
    font-size: 14px;
}



/*/// TEST WITH BOOTSTRAP */
.jumbotron {
    margin: 0 0 0 0;
    background-color: #212529;
    color: whitesmoke;
    height: 225px;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.1)
      ), url("../assets/images/hero-image.jpg");
    background-size: cover;
    background-position: center;
}

.jumbotron h1 {
    text-align: center;
}

.navbar {
    justify-content: flex-end;
    background-color: #212529;
    color: whitesmoke;
}

.navbar a {
    color: whitesmoke;
    font-size: 24px;
    margin: 10px 20px 10px 20px;
}





/* Media Queries */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }

    .aboutme-text {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }
    
    .aboutme-heading {
        flex: 2 100%;
    }

    #aboutme {
        flex: 100%;  
    }

@media screen and (max-width: 575px) {

    section {
        padding: 30px 15px;
    }

    .aboutme-text {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }
    
    .aboutme-heading {
        flex: 2 100%;
    }

    #aboutme {
        flex: 100%;  
    }